<h1>Sobre nós  </h1> 
<div id="sobreNosTop">
    
    <div class="id mission">
        <h2>Missão  </h2>
        <p>Estar presente em todos lugares para promover a inclusão e a equidade
            com aqueles que passam por momentos que tenham seus direitos de igualdade afetados
            para que o mundo começando com uma pessoa ou com várias, possa tornar-se um lugar mais 
            leve para que possasmos tirar o peso daqueles que não devem carregar.
        </p>
    </div>

    <div class="id value ">
        <h3>Valores</h3>
        <p>Confidencialidade, empatia, inclusão, justiça, apoio, educação, resiliência e acessibilidade
            são nossos principais valores, porque aqui sua denuncia poderá ser anonima ou não, a escolha será sua e será respeitada,
            com empatia você será retornado e analisaremos o seu caso com senso de justiça e apoio a você, deixando 
            a comunidade LGBTQIA+ mais resiliente, enquanto forneceremos acessibilidade para todes nesse espaço.
        </p>
    </div>

    <div class="id vission">
        <h4>Vissão</h4>
        <p>
            Construir uma sociedade onde todos os indivíduos, independentemente de sua orientação sexual ou identidade de gênero
            , possam viver sem medo de discriminação ou violência, especialmente em ambientes como escolas, locais de trabalho e outras instituições.
        </p>
    </div>
</div>
