<app-nav></app-nav>

<div id="forms" class="row g-3">
    <form action="">
        <h1>Login</h1>

        <div class="col">
            <input required type="email" class="form-control" placeholder="Seu email para contato" aria-label="Seu email para contato">
        </div>
    
        <div class="col">
            <input required type="password" class="form-control" placeholder="Senha" aria-label="Senha">
    
        </div>
    
       
    
        <button type="submit" class="btn btn-primary">Enviar</button>
        

    </form>
  
</div>

<footer>
    <h6>Contato do Desenvolvedor</h6>
    <a href="https://github.com/GabrielMS1903">GitHub</a>

    <h6 class="link-u">Links Utéis</h6>
    <ul>
        <li> <a href="https://mapasaudemental.com.br/">Mapa da saúde mental</a></li>
        <li> <a href="https://cvv.org.br/">CVV</a></li>
        <li><a href="https://www.gov.br/mdh/pt-br/assuntos/denuncie-violencia-contra-a-mulher/violencia-contra-a-mulher">Ligue 180</a></li>
        <li>  <a href="https://www.instagram.com/casasatine/?hl=pt">Casa Santine</a></li>
      
    </ul>

    <img src="../../assets/img/3801792-removebg-preview.png" alt="icon">
   
</footer>
