<h1>Faça a sua denuncia</h1>
<form class="row g-3 custom-form">
    <h2>Vítima</h2>

    <div class="col-md-6">
        <label for="int" class="form-label">Nome Completo </label>
        <input required type="text" class="form-control" id="int">
    </div>

    <div class="col-md-6">
        <label for="int" class="form-label">Nome social( Opcional) </label>
        <input  type="text" class="form-control" id="int">
    </div>

  

    <div class="col-md-6">
        <label for="inoutEmail" class="form-label">Email</label>
        <input required type="email" class="form-control" id="inpuEmail" placeholder="Para contato">
    </div>

    <div class="col-6">
        <label for="" class="form-label">Nascimento</label>
        <input required type="date" class="form-control">

    </div>

    <div class="col-6">
        <label for="int" class="form-label">Endereço residencial</label>
        <input required type="text" class="form-control" id="inptad" placeholder="Rua, numero">
    </div>

    <div class="col-md-4">
        <label for="" class="form-label">Estado</label>
        <select name="" class="form-select">
            <option selected>Escolha...</option>
            <option value="AC">Acre</option>
            <option value="AL">Alagoas</option>
            <option value="AP">Amapá</option>
            <option value="AM">Amazonas</option>
            <option value="BA">Bahia</option>
            <option value="CE">Ceará</option>
            <option value="DF">Distrito Federal</option>
            <option value="ES">Espírito Santo</option>
            <option value="GO">Goiás</option>
            <option value="MA">Maranhão</option>
            <option value="MT">Mato Grosso</option>
            <option value="MS">Mato Grosso do Sul</option>
            <option value="MG">Minas Gerais</option>
            <option value="PA">Pará</option>
            <option value="PB">Paraíba</option>
            <option value="PR">Paraná</option>
            <option value="PE">Pernambuco</option>
            <option value="PI">Piauí</option>
            <option value="RJ">Rio de Janeiro</option>
            <option value="RN">Rio Grande do Norte</option>
            <option value="RS">Rio Grande do Sul</option>
            <option value="RO">Rondônia</option>
            <option value="RR">Roraima</option>
            <option value="SC">Santa Catarina</option>
            <option value="SP">São Paulo</option>
            <option value="SE">Sergipe</option>
            <option value="TO">Tocantins</option>
        </select>

    </div>

    <div class="col-md-2">
        <label for="" class="form-label">CEP</label>
        <input type="text" class="form-control" id="cep">

    </div>
    
    <div class="col-md-2">
        <button type="submit" class="btn  btn-lg">Enviar</button>
    </div>



   
</form>


<div id="imgToggle">
    <img width="150px" height="140px" src="../../assets/img/3801792-removebg-preview.png" alt="icon">
</div>


<div id="frasesTop">
    <h3>"Só um passo é necessário para começarmos a caminhar, porque ás vezes para sairmos do 
        lugar não precisamos de muito."</h3>

        <p>Você é um ser com direito de igualdade.</p>
</div>