<app-nav></app-nav>

<main id="container">
    <div class="ig "><p class="r">p</p></div>
    <div class="ig "><p class="o">p</p></div>
    <div class="ig "><p class="y">a</p></div>
    <div class="ig "><p class="g">a</p></div>
    <div class="ig "><p class="b">a</p></div>
    <div class="ig "><p class="p">a</p></div>
   
    

    <img src="../../assets/img/3801792-removebg-preview.png" alt="União">
    <h1>Aqui é um lugar seguro para você denunciar um preconceito e receber apoio!</h1>

    <div id="about">
        <h2>Vidas que merecem respeito.</h2>
        <p>Atualmente no Brasil, a comunidade LGBTQIAP+ mesmo após conquistar
            tantos direitos, como a contemplação da Lei de Rascismo(7716/89), que hoje prevê crimes de discriminação ou preconceito por
             “raça, cor, etnia, religião e procedência nacional”. Também inclui-se contra  atos de “discriminação por orientação sexual
              e identidade de gênero”, ainda possui grandes preconceitos para serem superados. E aqui no "Iguale" iremos contra 
            qualquer tipode discriminação e auxiliamos ás vítimas a lidarem com essas situações.</p>
    
            <h2 id="h2-f">Violência que não fere, não existe.</h2>
            <p class="transcript">“Homofobia é o ato ou manifestação de ódio ou rejeição a homossexuais, lésbicas, bissexuais, travestis e transexuais”.</p>
            <ul>
                <li>Bifobia: descreve a aversão ou a discriminação contra bissexuais.
                </li>
                <li>Lesbofobia: refere-se exclusivamente ao preconceito e a violência contra mulheres lésbicas.
                </li>
                <li>Gayfobia: refere-se exclusivamente ao preconceito e violência contra homens gays.</li>
                <li>Transfobia: termo utilizado para classificar atitudes ou sentimentos negativos e/ou violentos contra
                 pessoas trans, o que inclui travestis, transexuais e transgêneros.</li>
            </ul>

            <p class="transcript">Muito desses ódios possuem fontes diferentes, entretanto isso é desimportante, já
                o que realmente importa é o respeito mutúo entre todas pessoas, independente de suas crenças, costumes, país ou orientação sexual, 
            quando o respeito é quebrado, um dos lados também será. </p>
    </div>

    <div id="cardTop">
        <h3>Impactos em alguns setores nas vidas de pessoas LGBTQIA+</h3>

        <div class="card text-start left">
            <img class="card-img-top " src="https://res.cloudinary.com/sagacity/image/upload/c_crop,h_1600,w_2000,x_0,y_0/c_limit,dpr_auto,f_auto,fl_lossy,q_80,w_1080/Nov_2019_-_Feat_-_LAF_-_LAF_SafeSchools_d53qi9.jpg" alt="Title" />
            <div class="card-body">
                <h4 class="card-title">Educação</h4>
                <p class="card-text">No Brasil, temas como a LGBTfobia tem ganhado cada vez menos espaços
                    nas instituições de ensino. O total de escolas públicas com projetos para combater racismo, 
                    machismo e homofobia caiu ao menor patamar em dez anos, segundo levantamento do Todos Pela Educação, divulgado em 2023.
                </p>
            </div>
        </div>

        <div class="card text-start middle">
            <img src="https://i0.wp.com/gay.blog.br/wp-content/uploads/2023/11/trabalho.png?fit=1095%2C676&ssl=1" class="card-img-top" alt="">
            <div class="card-body">
                <h4 class="card-title">Profissão</h4>
                <p class="card-text">De acordo com publicação do editorial Folha Vitória (2021), um dos grandes fatores de assédio no ambiente de trabalho
                     é a homofobia e a transfobia. Acrescenta-se aqui o fato de 41,53% da população LGBTQIA+ estar em situação de vulnerabilidade alimentar
                      devido à falta de inclusão social e laboral.</p>
            </div>
        </div>

        <div class="card text-start right">
            <img class="card-img-top" src="../../assets/img/lgbt-pointing.jpg"  alt="">
            <div class="card-body">
                <h4 class="card-title">Relacionamentos</h4>
                <p class="card-text">De acordo com Pedro Gastalho de Bicalho, psicólogo do Programa de Pós-Graduação em Políticas Públicas em Direitos Humanos da Universidade Federal do Rio de Janeiro (UFRJ), a "LGBTfobia" produz o sentimento de solidão. Além de ser entendida como uma escolha problemática,
                    ainda há aqueles que acreditam que se trata de uma doença, a ponto de a própria justiça brasileira
                    entrar com processos judiciais contra a resolução do Conselho Federal de Psicologia".</p>
            </div>
        </div>
        
    </div>


    <div id="apoieTop">
        <h5>O seu apoio é essencial, caso tenha visto alguma discriminação ou se você esteja 
            passando por isso, entre em contato e faça a sua denúncia!.
        </h5>
        <a href="">Venha defender a si ou aqueles que você ama clicando aqui!</a>
        <img src="../../assets/img/img1.jpg" alt="pessoas serenas">

    </div>
</main>

<footer>
    <h6>Contato do Desenvolvedor</h6>
    <a  target="_blank" href="https://github.com/GabrielMS1903">GitHub</a>

    <h6 class="link-u">Links Utéis</h6>
    <ul>
        <li> <a target="_blank" href="https://mapasaudemental.com.br/">Mapa da saúde mental</a></li>
        <li> <a  target="_blank" href="https://cvv.org.br/">CVV</a></li>
        <li><a  target="_blank" href="https://www.gov.br/mdh/pt-br/assuntos/denuncie-violencia-contra-a-mulher/violencia-contra-a-mulher">Ligue 180</a></li>
        <li>  <a  target="_blank" href="https://www.instagram.com/casasatine/?hl=pt">Casa Santine</a></li>
      
    </ul>

    <img src="../../assets/img/3801792-removebg-preview.png" alt="icon">
   
</footer>